@import '_include-media.scss';
@import 'breakpoints.scss';

// COLORS
$color-lightblue: #e2eef1;
$color-black: #5d5d5d;
$color-bluegrey: #609bab;
$color-ligherblue: #78b8ca;
$color-slateblue: #316775;

// VARIABLES 
$leftmenu-width:  168px;
$marelle-left : $leftmenu-width - 68px;
$mobile-padding: 18px;

// SHADOWS 
$shadow-lv2: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-lv1: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-lv4: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-lv3: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);

// FONTS
@font-face {
    font-family: 'Pequena';
    src: url('../fonts/Pequena.otf') format('otf');
    src: url('../fonts/Pequena.woff') format('woff');
    src: url('../fonts/Pequena.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 0.9rem;
}

h4{
    font-size: 0.7rem;
}

// Setup
a:hover, a:visited{
    text-decoration: none;
}

.visible{
    display: inline-block!important;
}


// Containers

body{
    zoom : 100%!important;
    background-color: $color-lightblue;
    overflow: hidden;
    @include media('<=small') {
        overflow: auto;
    }
}

footer{
    padding: $mobile-padding;
    margin-top: 64px;
    h3{
        font-size: 1.0rem;
        font-family:'Pequena'!important;
        font-weight: 200;
    }
    p{
        font-size: 0.6rem;
    }
    @include media('>small') {
        display: none;
    }
}

a, a:hover, a:active, a:visited {
    color: $color-bluegrey;
}

#bodyContainer{
    position: relative;
    margin: 36px 56px;
    height: 92vh;
    @include media('<=small') {
        margin: 0px;
    }
}

#leftMenuContainer{
    float:left;
    width: $leftmenu-width;
    height: 92vh;
    background-color: $color-lightblue;
    @include media('<=xxlarge') {
        width: 208px;
    }
    @include media('<=small') {
        float: none;
        display: inline-block;
        height: auto;
        padding: $mobile-padding;
        width: 100%;
    }
    #mainMenu{
        @include media('<=small') {
            display: none;
        }
    }
    #menuToggle{
        img{
            outline:none;
        }
        @include media('>small') {
            display: none;
        }
    }
    #menuList{
        cursor: pointer;
        padding: 12px 0px;
        @include media('<=small') {
                margin: 0px;
        }
        .accordion{
            label{
            cursor: pointer;
            font-family: 'Pequena';
            text-decoration: underline;
            }
        }
        .accordion-header{
            font-weight: 400;
            font-size: 1rem;
            padding-left: 0px;
            i{
                right: 0;
            }
        }
        .accordion-body a{
            font-size: 14px;
            color:  $color-black;
        }
    }
    #menuMentions{
        width: 136px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        @include media('<xxlarge') {
            width: 179px;
        }
        @include media('<=small') {
            display: none;
        }
        .textContent{
            h3{
                //font-size: 14px;
                font-size: 0.7rem;
                font-family: 'Pequena'!important;
                font-weight: 200;
            }
        }
        p{
            font-size: 12px;
        }
    }
}

#backgroundContainer, #layer1container, #layer2container, #layer3container{
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
}


#backgroundContainer{
    background-image: url(../img/bg.jpg);
}

#layer1container{
    background-image: url(../img/backgrounds/losanges_cercles_3.svg);
    background-position: 0px;
}

#layer2container{
    background-image:  url(../img//backgrounds/clouds.svg) ;
}

#layer3container{
    background-image:  url(../img//backgrounds/cercles.svg) ;
    background-position: 0px;
}

#gameContainer{
    background-image: url(../img//backgrounds/foreground_2.svg);
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    #content{

        background-size: cover;
        background-repeat: no-repeat;
    }
    #marelleContainer{
        margin: 0 auto;
        width: 23.5%;
        height: 100%;
        @include media('<=small') {
            width: 92%;
            text-align: center;
        }
       #marelle{
        margin-top: 4%;
        height:98%;
        padding-left: 16%;
        @include media('<=small') {
            margin: 0 auto;
            margin-top: 4%;
            padding-left: 0px;
        }
       }
    }
}

//mobile BG
#gameContainer, #layer1container, #layer2container, #layer3container{
    @include media('<=small') {
        background: none;
    }
}


// Modals

.modal.modal-lg .modal-overlay {
    background: #e2eef194;
}


.modal-container, .modal-header{
    padding: 0.8rem 0.8rem 0rem 0.8rem!important;
}
.modal-body{
    padding: 0rem 0.8rem 1.2rem 0.8rem!important;
    .ql-editor{
        a{
            color: $color-ligherblue;
            text-decoration: underline;
        }
    }
}

.modal-container .modal-body {
    @include media('>tablet') {
    width: 102%;
    padding-right: 2%!important;
    }
}

.modal-title.h5{
    font-family: 'Pequena'!important;
    font-weight: 200;
    font-size: 1.4rem;
    p{
        font-family: 'Pequena'!important;
        font-weight: 200;
        font-size: 1.4rem;
    }
}


.modal.modal-lg .modal-container {
    @include media('>tablet') {
        max-width: 93.8vw;
        max-height: 94vh;
        height: 94vh;
        overflow-x: hidden;
    }
    transition: 1s ease;
}


aside{
    float: right;
    width: 20%;
    min-height: 1000px;
    border-left: 1px solid #e8e8e8;
    padding-left: 36px;
    margin-left: 36px;
    @include media('<=tablet') {
        border-left: 0px;
        min-height: 60px;
        float: none;
        padding: 0px!important;
        margin-left: 0px;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
    }
    li{
        list-style-type: none;
    }
    p{
        margin: 0px 0px 0.3rem 0px;
    }
    p, a{
        font-size: 0.6rem;
    }
    div{
        margin: 1rem 0rem;
    }
    i,svg{
        display: inline;
    }
}



///BACKOFFICE
html, body{
    background: $color-lightblue;
    overflow: hidden;
}

.form-input:focus {
    border-color: $color-bluegrey;
    box-shadow: none;
}

.admin-msg{
    margin: 18px 0px;
}
#loginPageContainer{
    #loginContainer{
        border: 1px solid rgb(199, 199, 199);
        max-width: 400px;
        margin-top: 20vh;
        background-color: #fafafa;
        padding: 40px;
        border-radius: 3px;
        border: 1px solid #e8e8e8;
        min-height: 400px;
        .error-msg{
            text-align: center;
        }
        input{
            margin: 6px 0px;
        }

        .btn{
            width: 100%;
            text-align: center;
        }
        h2{
            text-align: center;
        }
    }
    #contentContainer{
        max-width: 800px;
        margin-top: 8vh;
        padding: 40px;
        border-radius: 10px;
        input{
            margin: 12px 0px;
        }

        .btn{
            float:right;
        }
        .return{
            float:left;
            padding: 16px;
            outline: none;
        }
        .return:hover{
            text-decoration: none;
        }
    }

    .btn.btn-primary {
        background: $color-slateblue;
        border-color:  $color-slateblue;
        color: #fff;
    }
}

#adminPageContainer{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4vw;
    overflow: auto;
    padding: 2%;
    h1{
        font-size: 1.6rem;
        margin-bottom: 36px;
    }
    h2 {
        padding: 16px;
    }
    a, a:hover, a:active, a:visited {
        color: $color-bluegrey;
    }
}


.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $color-slateblue;
    padding: 10px 22px;
    .btn.btn-link, .btn.btn-link:hover, a, a:hover, a:visited {
        color: #fff;
        text-decoration: none;
    }
    i{
        margin: 0px 12px;
    }
}

.accordion i, .accordion-header{
    cursor: pointer;
}

.accordion-body{
    margin: 12px;
    i{
        margin-right: 12px;
    }
    a{
        padding: 12px;
        margin-left: 24px;
        outline: none;
    }
}

select{
    margin: 10px 0px;
}

//form widths

.w100{
    width: 100%;
    display: inline-block;
    margin-top: 12px;
}
.w33{
    width: 23%;
}

.w8{
    width: 48px;
    display: inline-block;
    padding-left: 18px;
}

//QILL
.ql-video{
    width: 640px;
    height: 360px;
    @include media('<=tablet') {
        width: 420px;
        height: 280px;
    }
    @include media('<=small') {
        width: 280px;
        height: 157px;
    }
}
.ql-editor{
    outline: none;
}
.ql-hidden{
    display: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    max-height: 480px;
}

.ql-toolbar.ql-snow {
    background-color: #f1f1f1;
    margin-top: 12px;
}

.column {
    padding: 0px;
}