@import '_include-media.scss';
@import 'breakpoints.scss';

// COLORS
$color-lightblue: #e2eef1;
$color-black: #3b4351;

// VARIABLES 
$leftmenu-width:  168px;
$marelle-left : $leftmenu-width - 68px;
$mobile-padding: 18px;


// Setup

a:hover, a:visited{
    text-decoration: none;
}


// Containers

body{
    background-color: $color-lightblue;
    overflow: hidden;
    @include media('<=small') {
        overflow: auto;
    }
}

footer{
    padding: $mobile-padding;
    margin-top: 64px;
    h3{
        font-size: 1.0rem
    }
    p{
        font-size: 0.6rem;
    }
    @include media('>small') {
        display: none;
    }
}

#bodyContainer{
    position: relative;
    margin: 36px 56px;
    height: 92vh;
    @include media('<=small') {
        margin: 0px;
    }
}

#leftMenuContainer{
    float:left;
    width: $leftmenu-width;
    height: 92vh;
    background-color: $color-lightblue;
    @include media('<=small') {
        float: none;
        display: inline-block;
        height: auto;
        padding: $mobile-padding;
        width: 100%;
    }
    #menuToggle{
        @include media('>small') {
            display: none;
        }
    }
    #menuList{
        cursor: pointer;
        @include media('<=small') {
                margin: 0px;
        }
        .accordion{
        label{
           cursor: pointer;
        }
        }
        .accordion-header{
            font-weight: 600;
            font-size: 18px;
            padding-left: 0px;
            i{
                right: 0;
            }
        }
        .accordion-body a{
            font-size: 14px;
            color:  $color-black;
        }
    }
    #menuMentions{
        width: 136px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        @include media('<=small') {
            display: none;
        }
        h3{
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
    }
}

#gameContainer{
    background-image: url(../img/bg.jpg);
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    #marelleContainer{
        margin: 0 auto;
        width: 23.5%;
        height: 100%;
        @include media('<=small') {
            width: 92%;
            text-align: center;
        }
       #marelle{
        margin-top: 4%;
        height:98%;
        padding-left: 16%;
        @include media('<=small') {
            margin: 0 auto;
            margin-top: 4%;
            padding-left: 0px;
        }
       }
    }
}


// Modals

.modal.modal-lg .modal-overlay {
    background: #e2eef194;
}